<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Hello World</title>
	<link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
	<h1>Hello</h1>
	<p>This is the hello page from the templates directory</p>
	<p>Go to the <a href="/hello/one"> first page</a> via a regular url</p>
	<p>Go to the <a th:href="@{/hello/two}">second page</a> via a thymleaf url</p>
</body>	